html, body {
  padding: 0;
  margin: 0;
  font-family: verdana, arial, sans, sans-serif;
  font-size: 10px;
  line-height: 12px;
}

body {
	background: url('/background.png') #929292 repeat;
  color: #444;
  overflow-y: scroll;
}

a {
  outline: 0;
}

a:link {
  color: #bc3454;
}

a:visited {
  color: #bc3454;
}

a:hover {
  color: #d66680;
}

a:active {
  color: #911f3a;
}

h1, h2, h3, p {
	margin: 0 0 10px 0;
	color: black;
	font-family: verdana, arial, sans, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	line-height: 13pt;
}
h1 {
	font-size: 16pt;
	line-height: 16pt;
	color: #434c58;
}
h2 {
	font-size: 12pt;
	line-height: 12pt;
	font-weight: bold;
}
h3 {
	font-weight: bold;
}
